<!-- about-me.component.html -->
<section
  class="flex items-center justify-center relative overflow-hidden h-[100vh]"
>
  <!-- background layers -->
  <div
    class="absolute inset-0 bg-gradient-to-br from-purple-900/20 to-blue-900/20"
  ></div>
  <div class="absolute inset-0">
    <div
      class="absolute inset-0 bg-[radial-gradient(circle_at_50%_50%,rgba(17,24,39,0.7),rgba(0,0,0,1))]"
    ></div>
  </div>

  <!-- content -->
  <div class="relative z-10 text-center">
    <div @titleAnim *ngIf="showTitle">
      <h1
        class="text-4xl md:text-7xl font-bold mb-6 bg-clip-text text-transparent bg-gradient-to-r from-blue-400 to-purple-600"
      >
        Ariel Jay Fuentes
      </h1>
    </div>

    <div @subtitleAnim *ngIf="showSubtitle">
      <p class="text-xl md:text-2xl text-gray-300 mb-8 px-4">
        Full Stack Developer
      </p>
    </div>
    <div @subtitleAnim *ngIf="showSubtitle" class="w-[70vw]">
      <p class="text-base md:text-lg text-gray-300 mb-8 px-4">
        Dynamic and results-driven Full Stack Developer with years of hands-on
        experience designing, developing, and modernizing scalable web
        applications across diverse industries. Adept at end-to-end development,
        with expertise in both frontend and backend systems, and a proven track
        record of migrating legacy platforms and building applications from the
        ground up to improve scalability, performance, and user engagement.
        Passionate about solving complex challenges and delivering user-centric
        experiences through clean, maintainable code.
      </p>
      <p class="text-base md:text-lg text-gray-300 mb-8 px-4">
        Highly adaptable with a strong inclination to continuously learn and
        enhance skills, I thrive in both team-driven and self-directed
        environments. Skilled at translating ideas into robust, scalable
        solutions, I aim to collaborate with forward-thinking teams to solve
        problems innovatively while expanding expertise in emerging software
        practices.
      </p>
    </div>

    <div @arrowAnim *ngIf="showArrow">
      <!-- Add your arrow element here -->
    </div>
  </div>
</section>
