<section
  class="flex items-center justify-center relative overflow-hidden min-h-[100vh] p-8"
>
  <div
    class="absolute inset-0 bg-gradient-to-br from-purple-900/20 to-blue-900/20"
  ></div>
  <div class="absolute inset-0">
    <div
      class="absolute inset-0 bg-[radial-gradient(circle_at_50%_50%,rgba(17,24,39,0.7),rgba(0,0,0,1))]"
    >
      <div class="mx-auto md:max-w-[80%] w-full p-6">
        <div>
          <h3
            class="text-2xl font-bold bg-clip-text text-transparent bg-gradient-to-r from-blue-400 to-purple-600"
          >
            Ariel Jay Fuentes
          </h3>
          <p class="text-white text-sm sm:text-sm md:text-base">
            Strong experience in both front and back-end development. Have a
            strong inclination to learn more and enhance skills to further grow
            in the field of software development. Adaptable and quickly learn
            new technologies; successful working in both team and self-directed
            settings
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
